html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-image: url('src/imagens/background.jpg');
  background-size: cover;
  min-height: 100%;
  margin: 0;
}

header {
  background-color: rgba(44, 62, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0rem 8rem;
  flex-wrap: wrap;
}

header a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5rem;
}

header a:hover {
  background-color: rgb(198, 198, 198);
  border-radius: 10prgb(158, 158, 158)
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 6px;
  padding-bottom: 2rem;
  max-width: 85%;
  height: 100%;
  margin: -1.35rem auto 2rem auto;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

p {
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

#quemSomos {
  font-size: 1.3rem;
}

.main-impactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.cardImpactos {
  width: 40%;
  margin: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
  width: 60%;
  padding-left: 1.5rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

main li::before {
  content: "✔";
  padding-right: 2rem;
  left: 0;
  font-weight: bold;
  color: #4caf50;
}

img {
  max-width: 600px;
  margin: 1rem auto;
  border-radius: 60px;
}

form {
  margin: 1rem auto;
  max-width: 60%;
  text-align: left;
}

label {
  margin-bottom: 0.5rem;
}

.parceiros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardParceiros {
  width: 48%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.parceiroLogo {
  width: 150px;
}

.teamMember {
  vertical-align: top;
  margin: 1rem;
  width: 10rem;
  border-radius: 100%;
}

.rm {
  font-weight: lighter;
  text-align: center;
}

.equipe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.equipe h3 {
  text-align: center;
}

#mensagem {
  resize: none;
}